body, h1, h2, ul, li, a {
    margin: 0;
    padding: 0;
    font-family: sans-serif, "Ubuntu", Arial, Helvetica /* Font family for the webpage */
}

body {
    background: radial-gradient(circle, rgb(0,0,0), rgb(0,0,80)); /* Gradient dark blue background */
}

h1 {
    color: cyan;
    font-size: 2em;
    margin-bottom: 0.5em;
} /* Cyan color and font size and spacing adjustments for <h1> element */

h2 {
    color: plum;
    font-size: 1.5em;
    margin-bottom: 1em;
} /* Plum color and font size and spacing adjustments for <h2> element */ /* Salmon color and font size and spacing adjustments for <h3> element */

ul {
    list-style-type: none;
    margin-left: 20px;
    margin-bottom: 12px;
} /* Defines no list type and margins for unordered list */

ul li {
    margin-bottom: 5px;
} /* Bottom margin for <ul> and <li> elements */

a {
    display: inline-block;
    color: yellow;
    text-decoration: none;
    padding: 5px 10px;
    border: 3px solid #00FFFF;
    transition: all 0.3s ease;
} /* Makes <a> elements have cyan border and yellow font with an animation transition */

a:hover {
    background-color: green;
    color: white;
    border: 3px solid yellow;
} /* Adds green background, white font, and yellow border when hovering over <a> elements */

.center-text {
    text-align: center;
} /* Centers-aligns text */ /* Center-aligns images */

.img30 {
    height: auto;
    width: 30%;
} /* Makes images 30% of the width of the browser window or element*/ /* Makes images 100% of the width of the browser window or element*/ /* Border that is a dashed line and is a green-yellow color */

.BorderedTextRounded {
    border: 10px solid rgb(255, 165, 0);
    border-radius: 50%;
} /* Border that is rounded and is a red color */ /* Border that is rounded and is a green color */ /* Border for tables that is ridged and is a red color with green-yellow text */

.bold {
    font-weight: bold;
} /* Bolds text */

.GreenYellowFont {
    color: greenyellow;
} /* Applies a green-yellow text color */

#footer {
    color: pink;
    font-weight: bold;
} /* A custom ID that makes footers bold with pink text color */


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
} /* Makes scrollbars appear if the content overflows the viewport */ /* Makes videos fullscreen, behind the main text, and enables scrollbars */ /* Centers video backgrounds, applies minimum width and height to be fullscreen, and applies 25% background brightness for better readability */

.h2Underline {
    text-decoration: underline;
} /* Underlines <h2> elements */

.ImageGap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
} /* Applies horizontal gaps across the page and creates small gaps on the bottom of images */ /* Applies an unaltered sized image with 50% brightness for better readability, and is designed to let the standard color CSS background form around it */ /* Adjusts the width and height of embed YouTube video windows */ /* Applies a very small gap on the bottom of elements */ /* Applies a small gap on the top of elements */ /* Applies a medium sized gap to the bottom of elements */

.BulletUnorderedList {
    list-style-type: disc;
    color: plum;
    font-size: 1.15em;
} /* Applied disc-style bullets, the plum text color, and font size and spacing adjustments to unordered lists */

.OpenBullets {
    list-style-type: circle;
    color: plum;
} /* Applies 80% brightness to text */ /* Applies a very thin solid border with the plum color to images */